*{
  box-sizing: border-box;
}
@font-face {
  font-family: "Otsutome";
  src: url("../../assets/font/Otsutome_font_ver3/OtsutomeFont_Ver3.ttf");
}
body{
  margin:0;
  font-family: "Otsutome";
}
canvas{
  border: 1px solid gray;
}
#clearBtn{
  position: absolute;
  right:0;
  top:55%;
}
