*{
  box-sizing: border-box;
}
@font-face {
  font-family: "Otsutome";
  src: url("../../assets/font/Otsutome_font_ver3/OtsutomeFont_Ver3.ttf");
}
body{
  font-family: "Otsutome";
}
canvas{
  border: 1px solid gray;
}
#clearBtn{
  position: absolute;
  right:1rem;
  top:0;
}
#submitBtn{
  position: absolute;
  right:1rem;
  top:80%;
}
#drawCanvas{
  display: block;
  margin: auto;
}
.d-hidden{
  display: none;
}
button{
  color: white;
  background: green;
  border: none;
  padding: 6px 12px;
  font-family: "Otsutome";
  font-size: 1.125rem;
  border-radius: 3px;
}
#hintBtn{
  cursor: pointer;
}
.d-inline-right{
  float:right;
}
.d-inline-right::after{
  content:"";
  clear:right;
  display: block;
}
.container{
  width: 80%;
  margin: auto;
}
#controlPanel{
  position:relative;
}
#hintToggler{
  position: absolute;
  top: 0;
}
