*{
  box-sizing: border-box;
}
@font-face {
  font-family: "Otsutome";
  src: url("../../assets/font/Otsutome_font_ver3/OtsutomeFont_Ver3.ttf");
}
body{
  font-family: "Otsutome";
}
canvas{
  border: 1px solid gray;
}
#clearBtn{
  position: absolute;
  right:1rem;
  top:0;
}
#submitBtn{
  position: absolute;
  right:1rem;
  top:53px;
}
#drawCanvas{
  display: block;
  margin: auto;
}
.d-hidden{
  display: none;
}
.btn{
  color: white;
  background: green;
  border: none;
  padding: 6px 12px;
  font-family: "Otsutome";
  font-size: 1.125rem;
  border-radius: 3px;
}
#hintBtn{
  cursor: pointer;
}
.d-inline-right{
  float:right;
}
.d-inline-right::after{
  content:"";
  clear:right;
  display: block;
}
.container{
  width: 80%;
  margin: auto;
}
#controlPanel{
  position:relative;
}
#hintToggler{
  position: absolute;
  top: 0;
}
.h-min-50{
  min-height: 200px;
}
.text-center{
  text-align: center;
}
.card{
  border:1px solid gray;
  border-radius: 4px;
}
.card-header{
  margin-top: 0;
  padding: 20px 0 30px 0;
  background: green;
  color: white;
}
#main-menu ul{
  list-style: none;
  padding-left: 0;
}
#main-menu ul li{
  line-height: 2rem;
  margin: 30px 0;
}
#main-menu ul li a{
  padding: 12px 16px;
}
.d-note{
  color:gray;
  background: #fbcf25;
  padding: 12px 24px;
  line-height: 1.25rem;
}
code{
  font-family: 'Courier New', Courier, monospace;
  background-color: #ddd;
  border-radius: 3px;
  padding: 1px 2px;
  font-size: 0.9rem;
}
.mt-large{
  margin-top: 16px;
}
